

.class-btn {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;

  
}



.class-btn:hover, .class-btnActive {
    background-color: rgba(235, 246, 255, 0.247);
    border: 3px solid aliceblue;
    transition: none;
}



.class-btn:active {
    background-color: aliceblue;
    border: 3px solid aliceblue;
    transition:0s;
}


.max-width {
 width: 400px;
}

.next-btn {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(17, 17, 17);
    border-bottom: 1px solid rgb(17, 17, 17);

}

.next-btn:hover {
    background-color: rgba(235, 246, 255, 0.247);
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
    transition: none;
}

.faceArt {
    width: 150px;
    height: 150px;
}

.input-style-one {
    width: 200px;
    
}

.squareattributes {
    width: 200px;
    height: 26px;
    background-color: rgb(44, 44, 44);
}

.squareattributes:hover, .squareattributesActive {
    background-color: rgba(235, 246, 255, 0.247);
    border: 1px solid aliceblue;
    transition: none;
}