/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
  
  .jus-center {
    justify-content: center;
  }
  .txt-align-center {
    text-align: center;
  }

  /* ------------------- */
/* Utility classes     */
/* ------------------- */

.margin10 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.displayNone {
    display: none;
}

.heightMax {
    height: 100%;
}

.italic {
    font-style: italic;
}

.marginHorizontal {
    margin-left: 3px;
    margin-right: 3px;
}

.borderHorizontal {
 
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, hsl( var(--clr-darkGrey) ), aliceblue, hsl( var(--clr-darkGrey) ));
    border-image-slice: 1;
    
}


.font-L {
    font-size: 20px
}

.font-XL {
    font-size: 40px!important;
}

.height50px {
    height: 50px!important;
}